@import "highlight.js/styles/github.css"; /* GitHub light theme */

body {
  margin: 0;
  height: 100vh;
  display: flex;
  font-family: sans-sarif;
}

#app {
  display: flex;
  width: 100%;
  height: 100%
}

#editor {
  width: 35%;
  height: 100%;
  padding: 1rem;
  font-family: monospace;
  font-size: 1rem;
  border: none;
  outline: none;
  resize: none;
  background: #f9f9f9;
  color: #000;
}

#preview {
  width: 65%;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
  background-color: #fff;
  border-left: 1px solid #ccc;
  color: #000;
}

#preview blockquote {
  display: inline-block;
  padding: 0.8em 1em;
  border-left: 8px solid #d0d7de;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  background-color: #f6f8fa;
  color: #24292f;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 100%;
  margin: 1em 0;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

#preview pre {
  display: inline-block;
  overflow-x: auto;
  background-color: #f6f8fa;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  max-width: 100%;
  padding: 1rem;
  border-radius: 6px;
  margin: 1em 0;
}

#preview code {
  font-family: monospace;
  font-size: 0.95em;
}

#resizer {
  width: 4px;
  cursor: col-resize;
  background-color: #ccc;
  height: 100%;
}

#resizer:hover {
  background-color: #999;
}
